<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240986535074-ot8qmasssosfcsh1ed97t9ri5oqs7iqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240986535074-ot8qmasssosfcsh1ed97t9ri5oqs7iqb</string>
	<key>API_KEY</key>
	<string>AIzaSyBqwPVJovaAtszXRT0HhkHhT6B0M5pimEM</string>
	<key>GCM_SENDER_ID</key>
	<string>240986535074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tobikuyoro.HowTo</string>
	<key>PROJECT_ID</key>
	<string>howto-1c897</string>
	<key>STORAGE_BUCKET</key>
	<string>howto-1c897.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240986535074:ios:46b158f29c5ea941f213fb</string>
	<key>DATABASE_URL</key>
	<string>https://howto-1c897.firebaseio.com</string>
</dict>
</plist>